* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}
body {
    font-size: 17px;
    min-height: inherit;
    margin: 0;
    padding: 0;

    background-color: yellow;
    color: rgb(242, 247, 244);
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

a {
    color: rgb(133, 169, 209);
}
a:visited {
    color: rgb(95, 127, 163);
}
a:hover {
    color: rgb(95, 127, 163);
}

button {
    border-radius: 5px;
    color: rgb(242, 247, 244);
    background-color: rgb(47, 87, 155);
    font-size: 17px;
    font-weight: 700;
}
button:hover {
    background-color: rgb(32, 68, 130);
}

#app {
    min-height: 100vh;
}

@media screen and (max-width:990px) {
    body {
        font-size: 28px;
    }

    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }

    button {
        font-size: 28px;
    }
}
