* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-size: 17px;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: yellow;
    color: rgb(242, 247, 244);
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

#app {
    height: 100%;
}

@media screen and (max-width:990px) {
    body {
        font-size: 28px;
    }

    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
}
