.sidebar {
    min-height: inherit;
    flex: 1 1 10%;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgb(23, 20, 19);
}

.sidebar-item {
    padding: 24px 9px;
}
.sidebar-item:hover {
    border: none;
}

.sidebar-icon {
    color: rgb(242, 247, 244);
}

@media screen and (max-width:990px) {
    .sidebar {
        width: 140px;
        justify-content: start;
    }

    .sidebar-item {
        padding: 30px 6px;
    }

    .sidebar-icon {
        font-size: 2em;
    }

    .sidebar-text {
        display: none;
    }
}
