
.advancedRollerSeparator {
    align-self: center;
    margin: 0 6px 0;

    font-weight: 700;
}

.advancedDiceButton {
    width: 45px;
    height: 25px;
    margin-left: 6px;

    border: 1px solid black;
    border-radius: 5%;

    background-color: rgb(223, 39, 39);
    color: rgba(255, 255, 255, 0.904);
    font-weight: 700;
}
.advancedDiceButton:hover {
    background-color: rgb(199, 27, 27);
    border: none;
}
