
.diceContainer {
    width: 50%;
    margin: auto;
}

.diceRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.diceColumn {
    display: flex;
    flex-direction: column;
}

.diceButton {
    width: 100px;
    height: 75px;
    margin: 3px;

    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0px 0px 8px rgb(59, 59, 59);

    color: rgba(255, 255, 255, 0.904);
    font-weight: 700;
}

.diceButton:hover {
    border: none;
}

@media screen and (max-width:990px) {
    .diceButton {
        width: 200px;
        height: 150px;

        border: 2px solid black;
        margin: 6px;
        font-size: 28px;
    }
}