
.diceRollerTextArea {
    width: 90%;
    margin: 18px;
    resize: vertical;

    font-size: 16px;
}

@media screen and (max-width:990px) {
    .diceRollerTextArea {
        font-size: 28px;
    }
}
